[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-cors-headers = "*"
djangorestframework-jwt = "*"
djangorestframework = "*"
gunicorn = "*"

[dev-packages]
dotenv="*"

[requires]
python_version = "3.9"
